In [1]:
import findspark
import os
import sys

base_path = os.path.dirname(os.getcwd())
target_path = "target/scala-2.11"
jar_name = "bdg-sequila-assembly-0.6.0-spark-2.4.3.jar"
jar_path = f"{base_path}/{target_path}/{jar_name}"
sys.path.append(f"{base_path}/python")
os.environ['PYSPARK_SUBMIT_ARGS'] = f"--jars {jar_path} pyspark-shell"

findspark.init()

In [2]:
app_name = "pileup_base"
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName(f'{app_name}') \
.getOrCreate()

In [3]:
bam_path = f'{base_path}/src/test/resources/multichrom/mdbam/NA12878.multichrom.md.bam'
ref_path=f'{base_path}/src/test/resources/reference/Homo_sapiens_assembly18_chr1_chrM.small.fasta'
sample_id= 'NA12878'
table_name = "reads"

In [4]:
from sequila import SequilaSession
ss = SequilaSession(spark)

ss.sql(f'''CREATE TABLE IF NOT EXISTS {table_name} USING org.biodatageeks.sequila.datasources.BAM.BAMDataSource OPTIONS(path "{bam_path}")''')

DataFrame[]

In [5]:
# ss.sql(f"DROP TABLE {table_name}")

In [6]:
ss.sql(f"SELECT * FROM  pileup('{table_name}', '{sample_id}', '{ref_path}', true)").show(10)

+------+---------+-------+------------------+--------+--------+-----------+---------+--------------------+
|contig|pos_start|pos_end|               ref|coverage|countRef|countNonRef|     alts|               quals|
+------+---------+-------+------------------+--------+--------+-----------+---------+--------------------+
|     1|       34|     34|                 C|       1|       1|          0|     null|                null|
|     1|       35|     35|                 C|       2|       2|          0|     null|                null|
|     1|       36|     37|                CT|       3|       3|          0|     null|                null|
|     1|       38|     40|               AAC|       4|       4|          0|     null|                null|
|     1|       41|     49|         CCTAACCCT|       5|       5|          0|     null|                null|
|     1|       50|     67|AACCCTAACCCTAACCCT|       6|       6|          0|     null|                null|
|     1|       68|     68|                 A|       7|       7|          0|     null|                null|
|     1|       69|     69|                 A|       7|       6|          1|[67 -> 1]|[67 -> [0, 0, 1],...|
|     1|       70|     74|             CCCTA|       7|       7|          0|     null|                null|
|     1|       75|     75|                 A|       7|       6|          1|[67 -> 1]|[67 -> [0, 0, 1],...|
+------+---------+-------+------------------+--------+--------+-----------+---------+--------------------+
only showing top 10 rows